<%= form_for @meeting do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h4>
      <div class="alert alert-error">
        <ul>
        <% @meeting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :meeting_date %>
    <div class="controls">
      <%= f.text_field :meeting_date %>
    </div>
    <i>Format: MM/DD/YYYY</i>
  </div>

  <br />

  <div class="control-group">
    <%= f.label :meeting_time %>
    <div class="controls">
      <%= f.text_field :meeting_time %>
    </div>
    <i>Format: 17:00 for 5pm</i>
  </div>

  <%= f.submit :class => 'btn btn-primary' %>
<%end%>