<%= form_for @meeting do |f| %>
  <%= render 'shared/errors', :current_object => @meeting, :title => "meeting" %>

  <div class="control-group">
    <%= f.label :meeting_date %>
    <div class="controls">
      <%= f.text_field :meeting_date, :class => "span4" %>
    </div>
    <i>Format: YYYY-MM-DD</i>
  </div>

  <div class="control-group">
    <%= f.label :meeting_time %>
    <div class="controls">
      <%= f.text_field :meeting_time, :class => "span4" %>
    </div>
    <i>Format: 17:00 for 5pm</i>
  </div>

  <div class="control-group">
    <%= f.label :location %>
    <div class="controls">
      <%= f.text_field :location, :class => "span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Description (optional)" %>
    <div class="controls">
      <%= f.text_area :description, :class => "span4", :rows => 7 %>
    </div>
  </div>

  <%= f.submit :class => 'btn btn-primary' %>
<%end%>