<h1> Calendar </h1>
<!-- <div class="span6" id="test_calendar"><%= link_to("blah", meetings_path(:month => "January"), :remote => true) %></div>
<div id="new_stuff"></div> -->
<div class="span6" id="calendar"></div>

<div class="span4 list-wrapper" id="meeting-list">
  <div>

<!--       <th>Meeting</th>
      <th>Start time</th>
      <th>Location</th>
      <% if current_user %>
        <th>Attending?</th>
        <th>Meeting Role</th>
      <% end %>
      <th>
        <% if current_user && current_user.admin? %>
          Edit
        <% end %>
      </th>
 -->
  </div>

  <div>
    <% @meetings.each_with_index do |meeting, index| %>

      <div class="accordion accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%="#collapse#{index}" %> >
            <strong> <%= meeting.meeting_date.to_s%></strong>
            <span><%= meeting.meeting_time %></span>
          </a>
        </div>
        <div id= <%="collapse#{index}" %> class="accordion-body collapse out">
          <div class="accordion-inner">
            <div class="indentation">
              details about meeting.
            </br>
            </div>
          </div>
<!--             <div class="accordion-inner">
          </div> -->
        </div>
      </div>
    <% end %>
  </div>



<!--
  <div>
    <% @meetings.each do |meeting| %>
    <p>
      <%= link_to meeting.meeting_date.to_s, meeting_path(meeting) %> |
      <%= meeting.meeting_time %> |


      <% if current_user %>


            <% if current_user && current_user.admin? %>
              <%= link_to "Edit", edit_meeting_path(meeting) %>
            <% end %>
      <% end %>
    </p>
    <% end %>
  </div> -->
</div>




