<h1> Meetings </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Meeting</th>
      <th>Start time</th>
      <th>Description</th>
      <th>
      <% if current_user && current_user.admin? %>
        <%="Edit"%>
      <% end %>
      </th>
      <th>Attending?</th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
    <tr>
      <td><%= link_to meeting.meeting_date.to_s + " Meeting", meeting_path(meeting) %></td>
      <td><%= meeting.meeting_time %></td>
      <td>
          <% if meeting.description %>
            <%= meeting.description.capitalize %>
          <% end %>
      </td>
      <td>
          <% if current_user && current_user.admin? %>
            <%= link_to "Edit Meeting", edit_meeting_path(meeting) %>
          <% end %>
      </td>
      <td>
        <%= current_user.attending?(meeting) ? "Yes" : "No" unless !current_user%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>