<div class="page-header">
  <h2>Meeting on <%= @meeting.meeting_date %> at <%= @meeting.meeting_time%></h2>
</div>

<dl class="dl-horizontal">
  <dt>Meeting Location</dt>
  <dd><%= @meeting.location %></dd>
  <% if @meeting.description %>
    <dt>Description</dt>
    <dd>
      <%= @meeting.description.capitalize %>
    </dd>
  <% end %>
</dl>

<%= render 'attendances/form', :attendance => @meeting.attendance_for(current_user),
                               :meeting => @meeting %>
