<div class="page-header">
  <h2>Meeting on <%= @meeting.meeting_date %> at <%= @meeting.meeting_time%></h2>
</div>

<dl class="dl-horizontal">
  <dt>Meeting Location</dt>
  <dd><%= @meeting.location %></dd>
  <% if @meeting.description %>
    <dt>Description</dt>
    <dd>
      @meeting.description.capitalize %>
    </dd>
  <% end %>
</dl>

<% if @meeting.meeting_date < DateTime.now and can? :manage, Meeting %>
  <%= render 'attendances/post_meeting_update' %>
<% elsif @meeting.meeting_date < DateTime.now %>
  <%= render 'attendances/post_meeting_members_show'%>
<% else %>
  <%= render 'attendances/form', :attendance => @meeting.attendance_for(current_user),
                                :meeting => @meeting %>
<% end %>

