<h1> Meeting on <%= @meeting.meeting_date %> at
     <%= @meeting.meeting_time%></h1>

<p>
  <i>Location: <%= @meeting.location %></i>
</p>

<p>
  <% if @meeting.description %>
    Description: <%= @meeting.description.capitalize %>
  <% end %>
</p>

<% if @meeting.meeting_date < DateTime.now and can? :manage, Meeting %>
  <%= render 'attendances/post_meeting_update' %>
<% elsif @meeting.meeting_date < DateTime.now %>
  <%= render 'attendances/post_meeting_members_show'%>
<% else %>
  <%= render 'attendances/form' %>
<% end %>
