<%= form_for @meeting_role, :remote => true do |f| %>
  <h3>New Meeting Role</h3>
  <div class="well">
    <table>
      <th align="left"><%= f.label :title, 'Title' %></th>
      <th align="left"><%= f.label :description, 'Description' %></th>
      <tr>
        <td><%= f.text_field :title, :class => "span4" %></td>
        <td><%= f.text_field :description, :class => "span6" %></td>
      </tr>
    </table>
  </div>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
