<%= form_for @meeting_role do |f| %>
  <%= render 'shared/errors', :current_object => @meeting_roles, :title => "meeting roles" %>

  <div class="control-group">
    <%= f.label :title %>
    <div class="controls">
      <%= f.text_field :title, :class => "span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description %>
    <div class="controls">
      <%= f.text_field :description, :class => "span6", :rows => 7 %>
    </div>
  </div>

  <%= f.submit :class => 'btn' %>
<%end%>