<h1> Meeting Roles </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <% if current_user && current_user.super_admin? %>
        <th> <%="Edit"%> </th>
        <th> <%="Delete"%> </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @meeting_roles.each do |meeting_role| %>
    <tr>
      <td><%= link_to meeting_role.title, meeting_role_path(meeting_role) %></td>
      <td>
          <% if current_user && current_user.super_admin? %>
            <%= link_to "Edit Meeting Role", edit_meeting_role_path(meeting_role) %>
          <% end %>
      </td>
      <td>
          <% if current_user && current_user.super_admin? %>
            <%= link_to "Destroy Role", meeting_role_path(meeting_role), :method => :delete %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= button_to('Create New Role', new_meeting_role_path, :class => 'btn btn-primary', :method => :get) %>