<div class="page-header">
  <h1>Speeches by <%= current_user.name %></h1>
</div>

<table class="table table-hover speeches">
  <thead>
    <tr>
      <th>Speech Title</th>
      <th>Project Number</th>
      <th>Project</th>
      <th>Manual</th>
      <th>Date Completed</th>
    </tr>
  </thead>
  <tbody>
    <% if @speeches != nil%>
      <% @speeches.each do |speech| %>
        <% next unless speech.meeting %>
        <tr>
          <td class="span4"><%= speech.title %></td>
          <td class="span1"><%= speech.project.project_number %></td>
          <td class="span3"><%= speech.project.name %></td>
          <td class="span2"><%= speech.project.manual.name %></td>
          <td class="span1"><%= speech.meeting.meeting_date %></td>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>