<!-- <div class="page-header">
  <h1>Speeches by <%= current_user.name %></h1>
</div> -->
<div class="dark-wrapper">
    <div class="headers">
      <strong>
        <span class="span2">Speech Title</span>
        <span class="span2">Project Number</span>
        <span class="span2">Project</span>
        <span class="span2">Manual</span>
        <span class="span1">Date Completed</span>
        <br/>
      </strong>
    </div>
    <div class="list-body">
    <% if @speeches != nil%>
      <% @speeches.each do |speech| %>
        <span class="span2"><%=speech.title%></span>
        <span class="span2"><%=speech.project.project_number%></span>
        <span class="span2"><%=speech.project.name%></span>
        <span class="span2"><%=speech.project.manual.name%></span>
        <span class="span1"><%=speech.meeting.meeting_date%></span>
      <% end %>
    <%end%>
    <br/>
  </div>
</div>
