<%- model_class = Manual -%>
<div class="page-header">
  <h1>My Progress</h1>
</div>

<% @manuals.each_with_index do |manual, index| %>
<div class="accordion accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= index %>" >
        <%= manual.name %>
      </a>
    </div>
    <div id="collapse<%= index %>" class="accordion-body collapse out">
      <% @speeches[manual].each do |speech| %>
        <div class="accordion-inner">
          <div class="indentation">
            #<%= speech.project.project_number %>
            <%= speech.project.name.ljust(20) + ": " + speech.title %>
            <span class="right"><%=speech.meeting.meeting_date%></span>
            <br />
          </div>
        </div>
      <% end %>
      <div class="accordion-inner">
      </div>
      <div class="progress-indent">
        <strong><%="Progress: " + @speeches[manual].count.to_s + "/" + manual.projects.count.to_s %></strong>
        <br /><br />
        <% percent_done = (@speeches[manual].count * 100.0) / manual.projects.count %>
        <div class="progress_bar">
          <div class="progress progress-info">
            <div class="bar" style="width: <%= percent_done.to_s %>%"></div>
          </div>
        </div>
      </div>
    </div>

</div>
<% end %>


