<div class="control-group">
  <%= f.label "Will you attend this meeting?", nil, :class => 'control-label' %>
  <div class="controls">
    <label class="radio">
        <% if user_attending?(@meeting) %>
          <%= f.radio_button "attend", "true", :class => "attend-option", :checked => true %>
        <% else %>
          <%= f.radio_button "attend", "true", :class => "attend-option", :checked => false %>
        <% end %>
        <%= f.label :attend_true, 'Yes' %>
    </label>
    <label class="radio">
      <% if user_attending?(@meeting) %>
        <%= f.radio_button "attend", "false", :class => "attend-option", :checked => false %>
      <% else %>
        <%= f.radio_button "attend", "false", :class => "attend-option", :checked => true %>
      <% end %>
      <%= f.label :attend_false, 'No' %>
    </label>
</div>
</div>