<% if @meeting.meeting_date >= DateTime.now %>
  <h2>Meeting Sign-up</h2>
<% else %>
  <h2>Meeting agenda</h2>
<% end %>

<%= form_for @attendance do |f| %>
	<div class="control-group">
	    <%= label_tag "Will you attend this meeting?", nil, :class => 'control-label' %>
	    <div class="controls">
			  <label class="radio">
			    <%= radio_button_tag "attend", "true" %>
			    <%= label :attend_true, 'Yes' %>
			  </label>
			  <label class="radio">
			    <%= radio_button_tag "attend", "false" %>
			    <%= label :attend_false, 'No' %>
			  </label>
		</div>
	</div>

  <hr class="bs-docs-separator">

  <div class="control-group">
    <%= label_tag "Sign up for a role", nil, :class => 'control-label' %>
    <div class="controls">
    	<% roles = MeetingRole.all %>
    	<% roles.each do |role| %>
    		<label class="radio">
    	  <%= radio_button_tag "attendance[meeting_role_id]", "#{role.id}" %>
    	  <%#= f.radio_button "attendance", :meeting_role_id, role.id %>
    	  <%= label role.title, role.title %>
	    	</label>
    	<% end %>
    </div>
  </div>

  <hr class="bs-docs-separator">



	<%= f.hidden_field :meeting_id, :value => @meeting.id %>

  <%= f.submit nil, :class => "btn btn-primary" %>
<% end %>